<h1>ユーザー一覧</h1>
<%= @users.each do |user| %>
  <h2><%= link_to user.id, user %></h2>
  <h2><%= user.email %></h2>
  <%= link_to "フォロー", {controller: :users,action: :follow,user_id: user.id}, method: :put %>
  <%= link_to "アンフォロー", {controller: :users,action: :unfollow,user_id: user.id}, method: :put %>
<% end %>
